body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 10px;
    background-image: url(../img/weather-patern.jpg);
    background-repeat: repeat;
    background-size: 300px;
    backdrop-filter: grayscale(100%);
}

#app{
    display: grid;
    /* grid-template-columns:  */
    color: #5A534A;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.7rem;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    padding: 3rem;
    width:40rem;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 4px #5A534A;
}

.holder.headline{
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 3rem;
}

.title{
    padding: 1rem;
}

.entry{
    background: rgba(59, 74, 107, .4);
    padding: 1rem;
}

#entryHolder{
    height: 10rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#FCDEBE;
    color: #3A445D;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    display: block;
    width: 20rem;
    height: 5rem;
    background: #F46036;
    color: #504A58;
    font-size: 1.9rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}
h1{
    font-size: 36px;
}

textarea{
    background:#FCDEBE;
    color: #3A445D;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #3A445D; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #3A445D; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #3A445D; 
    font-family: 'Oswald', sans-serif;

} 